.cart-card {
  display: flex;
  align-items: center;
  background: white;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 15px;
}

.cart-img {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 15px;
}

.cart-info {
  flex: 1;
}

.cart-controls {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
}

.cart-controls button {
  width: 32px;
  height: 32px;
  background: #111;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 18px;
  cursor: pointer;
}

.cart-controls span {
  font-size: 18px;
  min-width: 25px;
  text-align: center;
}

.cart-price {
  margin-left: auto;
  font-size: 18px;
}
